/* used in all */

:root {
    --bg_color: rgb(255, 255, 255);
    --light_text_color: white;
    --dark_text_color: rgba(2, 48, 71);
    --dark: rgb(50, 50, 50);
    --lightgrey: rgb(243, 244, 246);
    --accent1: rgb(171, 171, 171);
    --hover: rgb(148, 144, 144);
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg_color);
    font-family: Arial, sans-serif;
}

.navspacer {
    height: 80px
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5%;
    gap: 0.5%;
    margin: 1%;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5%;
    gap: 0.5%;
    margin: 1%;
}


.button,
.back-btn,
.contact button {
    text-decoration: none;
    background-color: var(--accent1);

    border-radius: 6px;
    border: 2px solid var(--hover);

    padding: 7;
    color: var(--bg_color);
}

.button:hover,
.back-btn:hover,
.contact button:hover {
    background-color: var(--hover);
}

h1 {
    justify-self: center;
}

/* nav bar */

.nav {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    /* push links to the right */

    position: fixed;

    height: 70px;
    width: 100%;
    z-index: 100;

    background-color: var(--accent1);
    color: var(--bg_color);

}

.nav-links {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}

.nav-links a {
    margin: 0 auto;
    text-decoration: none;
    color: var(--dark);
    width: 50px;
}

.nav h1 {
    font: 'Franklin Gothic Medium';
    position: static;
    margin-left: 20px;
    margin-right: 90px;
    color: var(--background);
}



.wrap-left {
    float: left;
    margin: 0 15px 15px 0;
    width: 200px;
}

.wrap-right {
    float: right;
    margin: 0 0 15px 15px;
    width: 200px;
}


/* home */
.section {
    padding: 80px 0;
    min-height: 80vh;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

/* home - hero */


.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    text-align: center;
    padding: 0 20px;

    background-image: url('img/sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: var(--dark_text_color);
    position: relative;
}

/* overlay  */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 0;
    opacity: 80%;
}

/* place above overlay */
.hero-section h1,
.hero-section h2,
.hero-section .button {
    position: relative;
    z-index: 1;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-section h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-section .row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* home - contact */

.contact {
    flex: 1;
}

.faq {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 60vh;

}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 100%;
    box-sizing: border-box;
}



.contact textarea {
    resize: vertical;
    /* only let message size be changed vertically */
}


.contact button {
    margin: 5px 0;
}

/* admin */

.back-btn {
    /* absolute top left */
    position: absolute;
    top: 12px;
    left: 12px;
}


.admin-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: var(--lightgrey);
    font-family: Arial, sans-serif;
}

.login-box,
.admin-option,
.contact {
    width: 320px;
    padding: 30px;
    background: var(--bg_color);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    color: var(--dark);
    text-decoration: none;
}

.back-btn img {
    width: 10px;
}

.admin-option img {
    width: 40px;
}

.admin-option {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;

    align-items: center;
    /* veertical */
    justify-content: center;
    /* horizontal */

    gap: 20px;
}

.admin-option:hover {
    background-color: var(--accent1);
}

.login-box h2,
.admin-option a {
    margin: 0 0 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px;
    border: 1px solid var(--accent1);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

/* when you're typing in that box */
.login-box input:focus {
    border-color: var(--dark_text_color)
}


/* adopt page */

.animal {
    border-radius: 6%;
    border: 1px solid black;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 1%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.animal img {
    width: 100px;
    border-radius: 3%;
}


.filter-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    padding: 20px 30px;
    margin: 20px 0;
}

.filter-controls label {
    /* make labels above their filter */
    display: flex;
    flex-direction: column;

    color: #333;
    min-width: 130px;
    width: 20%;
}

.filter-controls select {
    margin-top: 8px;
    padding: 10px 12px;
    border: 1px solid var(--accent1);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background-color: var(--bg_color);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.filter-controls select:hover {
    border-color: var(--hover);
    /* blue border on hover */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.filter-controls select:focus {
    border-color: var(--hover);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.admin-container {
    display: flex;
    max-width: 1000px;
    margin: 30px auto;
    padding: 0;
    background: var(--form-bg);
    border-radius: 8px;
    /* Soft shadow to lift the container off the background */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/*edit an animal page*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Top nav bar */
.nav {
    background: #a8a8a8;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav h1 {
    margin: 0 auto;
    font-size: 36px;
    font-weight: bold;
}

.back-button {
    background: white;
    border: 1px solid #777;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-page {
    display: flex;
    padding: 30px;
    gap: 40px;
}

/* left sidebar */
.left-panel {
    width: 315px;
}

.search-label {
    font-weight: bold;
}

.search-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.animal-list-item {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.animal-list-item:hover {
    background: #eee;
}

.animal-list-item.selected {
    background: #c9c9c9;
}

.animal-id {
    font-weight: bold;
    font-size: 20px;
    width: 30px;
}

.right-panel {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #cccccc;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-button {
    padding: 12px 20px;
    border: none;
    background: #dddddd;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-weight: bold;
}

.tab-button.active {
    background: white;
    border-bottom: 3px solid black;
}

/* form content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* column layour inside the form */
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.form-column label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.delete-button {
    background: red;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
}

.submit-button {
    background: #2ecc71;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
}


.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}


.modal-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.cancel-button {
    background: red;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
}

.confirm-button {
    background: #2ecc71;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
}
/* deleteanimal page*/
.delete-page .left-panel {
    width: 1000px;
}

.delete-page .search-label {
    font-weight: bold;
}

.delete-page .search-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Layout for the row that holds the Delete button */
.delete-page .button-row {
    display: flex;
    justify-content: flex-end; 
    margin-top: 30px;
}


.delete-page .delete-button {
    width: 120px;height: 120px;padding: 0;background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delete-page .delete-button:hover {
    filter: brightness(0.9);
}

/* foster page  */
.foster-page {
    background-color: #f5f5f5;
}

.foster-page h1,
.foster-page h2,
.foster-page p,
.foster-page ol,
.foster-page .filter-controls,
.foster-page #tiles {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}


.foster-page > h1 {
    margin-top: 40px;
    font-size: 32px;
    text-align: center;
}

.foster-page > p {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}

/* “Fostering Expectations” section */
.foster-page h2 {
    margin-top: 10px;
    font-size: 24px;
}

.foster-page ol {
    padding-left: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
}


.foster-page .filter-controls {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.foster-page .filter-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
}

.foster-page .filter-controls label {
    flex: 1 1 180px;
}

.foster-page #tiles {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.foster-page .animal img {
    width: 100%;
    border-radius: 8px;
}
