:root {
    --bg_color: rgba(142,202,230);
    --light_text_color: white;
    --dark_text_color: rgba(2, 48, 71);
    --dark_bg: rgba(33, 158, 188);
    --accent1: rgba(255, 183, 3);
    --accent2: rgba(251, 133, 0);
}

body {
    background-color: var(--bg_color);
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5%;
    gap: 0.5%;
    margin: 1%;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5%;
    gap: 0.5%;
    margin: 1%;
}

.animal {
    border-radius: 6%;
    border: 1px solid black;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding:1%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.animal img {
    width: 100px;
    border-radius: 3%;
}